################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/InventoryManagement.UI/bin/Debug/net8.0
/InventoryManagement.UI/obj
